/*!
    Blueprint CSS 3.0.0-beta.5 (Modified & customized for TMO project)
    https://blueprintcss.io
    License MIT 2018
*/
html {
  box-sizing: border-box; }

*, *::before, *::after {
  box-sizing: inherit; }

html, body {
  margin: 0;
  padding: 0; }

[tmo-layout~='container-fluid'] {
  width: 100%;
  margin: 0 auto;
  display: block;
  max-width: calc(100% - 32px); }

[tmo-layout~='container'] {
  width: 100%;
  margin: 0 auto;
  display: block;
  max-width: 100%; }
  @media (max-width: 575px) {
    [tmo-layout~='container'] {
      max-width: calc(100% - 32px); } }
  @media (min-width: 576px) {
    [tmo-layout~='container'] {
      max-width: 540px; } }
  @media (min-width: 768px) {
    [tmo-layout~='container'] {
      max-width: 720px; } }
  @media (min-width: 992px) {
    [tmo-layout~='container'] {
      max-width: 960px; } }
  @media (min-width: 1200px) {
    [tmo-layout~='container'] {
      max-width: 1140px; } }

[tmo-layout~='grid'] {
  display: grid !important;
  grid-gap: 30px;
  grid-template-columns: repeat(12, 1fr);
  /*  > div { // Cheat- Grid background
        background-color:rgba(0,0,0,0.025); } */ }
  @media (max-width: 575px) {
    [tmo-layout~='grid'] {
      grid-gap: 10px; } }

[tmo-layout~='vertical-start'] {
  align-items: start; }

[tmo-layout~='vertical-center'] {
  align-items: center; }

[tmo-layout~='vertical-end'] {
  align-items: end; }

[tmo-layout~='between'] {
  justify-content: center; }

[tmo-layout~='gap-none'] {
  grid-gap: 0;
  margin-bottom: 0; }

[tmo-layout~='gap-column-none'] {
  grid-column-gap: 0; }

[tmo-layout~='gap-row-none'] {
  grid-row-gap: 0;
  margin-bottom: 0; }

[tmo-layout~='first'] {
  order: -1; }

[tmo-layout~='last'] {
  order: 12; }

[tmo-layout~='hide'] {
  display: none !important; }

[tmo-layout~='show'] {
  display: initial !important; }

[tmo-layout~='grid'][tmo-layout*='@'] {
  grid-template-columns: 12fr; }

[tmo-layout~='grid'][tmo-layout*='@sm'], [tmo-layout~='grid'][tmo-layout*='@md'], [tmo-layout~='grid'][tmo-layout*='@lg'], [tmo-layout~='grid'][tmo-layout*='@xl'] {
  grid-template-columns: 12fr; }

[tmo-layout~='1@sm'], [tmo-layout~='1@md'], [tmo-layout~='1@lg'], [tmo-layout~='1@xl'], [tmo-layout~='2@sm'], [tmo-layout~='2@md'], [tmo-layout~='2@lg'], [tmo-layout~='2@xl'], [tmo-layout~='3@sm'], [tmo-layout~='3@md'], [tmo-layout~='3@lg'], [tmo-layout~='3@xl'], [tmo-layout~='4@sm'], [tmo-layout~='4@md'], [tmo-layout~='4@lg'], [tmo-layout~='4@xl'], [tmo-layout~='5@sm'], [tmo-layout~='5@md'], [tmo-layout~='5@lg'], [tmo-layout~='5@xl'], [tmo-layout~='6@sm'], [tmo-layout~='6@md'], [tmo-layout~='6@lg'], [tmo-layout~='6@xl'], [tmo-layout~='7@sm'], [tmo-layout~='7@md'], [tmo-layout~='7@lg'], [tmo-layout~='7@xl'], [tmo-layout~='8@sm'], [tmo-layout~='8@md'], [tmo-layout~='8@lg'], [tmo-layout~='8@xl'], [tmo-layout~='9@sm'], [tmo-layout~='9@md'], [tmo-layout~='9@lg'], [tmo-layout~='9@xl'], [tmo-layout~='10@sm'], [tmo-layout~='10@md'], [tmo-layout~='10@lg'], [tmo-layout~='10@xl'], [tmo-layout~='11@sm'], [tmo-layout~='11@md'], [tmo-layout~='11@lg'], [tmo-layout~='11@xl'], [tmo-layout~='12@sm'], [tmo-layout~='12@md'], [tmo-layout~='12@lg'], [tmo-layout~='12@xl'] {
  grid-column: span 12; }

[tmo-layout~='grid'][tmo-layout~='1'] {
  grid-template-columns: repeat(12, 1fr); }

[tmo-layout~='1'] {
  grid-column: span 1/span 1; }

[tmo-layout~='grid'][tmo-layout~='2'] {
  grid-template-columns: repeat(6, 1fr); }

[tmo-layout~='2'] {
  grid-column: span 2/span 2; }

[tmo-layout~='grid'][tmo-layout~='3'] {
  grid-template-columns: repeat(4, 1fr); }

[tmo-layout~='3'] {
  grid-column: span 3/span 3; }

[tmo-layout~='grid'][tmo-layout~='4'] {
  grid-template-columns: repeat(3, 1fr); }

[tmo-layout~='4'] {
  grid-column: span 4/span 4; }

[tmo-layout~='grid'][tmo-layout~='5'] {
  grid-template-columns: repeat(2.4, 1fr); }

[tmo-layout~='5'] {
  grid-column: span 5/span 5; }

[tmo-layout~='grid'][tmo-layout~='6'] {
  grid-template-columns: repeat(2, 1fr); }

[tmo-layout~='6'] {
  grid-column: span 6/span 6; }

[tmo-layout~='grid'][tmo-layout~='7'] {
  grid-template-columns: repeat(1.71429, 1fr); }

[tmo-layout~='7'] {
  grid-column: span 7/span 7; }

[tmo-layout~='grid'][tmo-layout~='8'] {
  grid-template-columns: repeat(1.5, 1fr); }

[tmo-layout~='8'] {
  grid-column: span 8/span 8; }

[tmo-layout~='grid'][tmo-layout~='9'] {
  grid-template-columns: repeat(1.33333, 1fr); }

[tmo-layout~='9'] {
  grid-column: span 9/span 9; }

[tmo-layout~='grid'][tmo-layout~='10'] {
  grid-template-columns: repeat(1.2, 1fr); }

[tmo-layout~='10'] {
  grid-column: span 10/span 10; }

[tmo-layout~='grid'][tmo-layout~='11'] {
  grid-template-columns: repeat(1.09091, 1fr); }

[tmo-layout~='11'] {
  grid-column: span 11/span 11; }

[tmo-layout~='grid'][tmo-layout~='12'] {
  grid-template-columns: repeat(1, 1fr); }

[tmo-layout~='12'] {
  grid-column: span 12/span 12; }

[tmo-layout~='offset-1'] {
  grid-column-start: 1; }

[tmo-layout~='offset-2'] {
  grid-column-start: 2; }

[tmo-layout~='offset-3'] {
  grid-column-start: 3; }

[tmo-layout~='offset-4'] {
  grid-column-start: 4; }

[tmo-layout~='offset-5'] {
  grid-column-start: 5; }

[tmo-layout~='offset-6'] {
  grid-column-start: 6; }

[tmo-layout~='offset-7'] {
  grid-column-start: 7; }

[tmo-layout~='offset-8'] {
  grid-column-start: 8; }

[tmo-layout~='offset-9'] {
  grid-column-start: 9; }

[tmo-layout~='offset-10'] {
  grid-column-start: 10; }

[tmo-layout~='offset-11'] {
  grid-column-start: 11; }

[tmo-layout~='offset-12'] {
  grid-column-start: 12; }

@media (min-width: 576px) {
  [tmo-layout~='grid'][tmo-layout~='1@sm'] {
    grid-template-columns: repeat(12, 1fr); }
  [tmo-layout~='1@sm'] {
    grid-column: span 1/span 1; }
  [tmo-layout~='grid'][tmo-layout~='2@sm'] {
    grid-template-columns: repeat(6, 1fr); }
  [tmo-layout~='2@sm'] {
    grid-column: span 2/span 2; }
  [tmo-layout~='grid'][tmo-layout~='3@sm'] {
    grid-template-columns: repeat(4, 1fr); }
  [tmo-layout~='3@sm'] {
    grid-column: span 3/span 3; }
  [tmo-layout~='grid'][tmo-layout~='4@sm'] {
    grid-template-columns: repeat(3, 1fr); }
  [tmo-layout~='4@sm'] {
    grid-column: span 4/span 4; }
  [tmo-layout~='grid'][tmo-layout~='5@sm'] {
    grid-template-columns: repeat(2.4, 1fr); }
  [tmo-layout~='5@sm'] {
    grid-column: span 5/span 5; }
  [tmo-layout~='grid'][tmo-layout~='6@sm'] {
    grid-template-columns: repeat(2, 1fr); }
  [tmo-layout~='6@sm'] {
    grid-column: span 6/span 6; }
  [tmo-layout~='grid'][tmo-layout~='7@sm'] {
    grid-template-columns: repeat(1.71429, 1fr); }
  [tmo-layout~='7@sm'] {
    grid-column: span 7/span 7; }
  [tmo-layout~='grid'][tmo-layout~='8@sm'] {
    grid-template-columns: repeat(1.5, 1fr); }
  [tmo-layout~='8@sm'] {
    grid-column: span 8/span 8; }
  [tmo-layout~='grid'][tmo-layout~='9@sm'] {
    grid-template-columns: repeat(1.33333, 1fr); }
  [tmo-layout~='9@sm'] {
    grid-column: span 9/span 9; }
  [tmo-layout~='grid'][tmo-layout~='10@sm'] {
    grid-template-columns: repeat(1.2, 1fr); }
  [tmo-layout~='10@sm'] {
    grid-column: span 10/span 10; }
  [tmo-layout~='grid'][tmo-layout~='11@sm'] {
    grid-template-columns: repeat(1.09091, 1fr); }
  [tmo-layout~='11@sm'] {
    grid-column: span 11/span 11; }
  [tmo-layout~='grid'][tmo-layout~='12@sm'] {
    grid-template-columns: repeat(1, 1fr); }
  [tmo-layout~='12@sm'] {
    grid-column: span 12/span 12; }
  [tmo-layout~='offset-1@sm'] {
    grid-column-start: 1; }
  [tmo-layout~='offset-2@sm'] {
    grid-column-start: 2; }
  [tmo-layout~='offset-3@sm'] {
    grid-column-start: 3; }
  [tmo-layout~='offset-4@sm'] {
    grid-column-start: 4; }
  [tmo-layout~='offset-5@sm'] {
    grid-column-start: 5; }
  [tmo-layout~='offset-6@sm'] {
    grid-column-start: 6; }
  [tmo-layout~='offset-7@sm'] {
    grid-column-start: 7; }
  [tmo-layout~='offset-8@sm'] {
    grid-column-start: 8; }
  [tmo-layout~='offset-9@sm'] {
    grid-column-start: 9; }
  [tmo-layout~='offset-10@sm'] {
    grid-column-start: 10; }
  [tmo-layout~='offset-11@sm'] {
    grid-column-start: 11; }
  [tmo-layout~='offset-12@sm'] {
    grid-column-start: 12; }
  [tmo-layout~='hide@sm'] {
    display: none !important; }
  [tmo-layout~='show@sm'] {
    display: initial !important; }
  [tmo-layout~='first@sm'] {
    order: -1; }
  [tmo-layout~='last@sm'] {
    order: 12; } }

@media (min-width: 768px) {
  [tmo-layout~='grid'][tmo-layout~='1@md'] {
    grid-template-columns: repeat(12, 1fr); }
  [tmo-layout~='1@md'] {
    grid-column: span 1/span 1; }
  [tmo-layout~='grid'][tmo-layout~='2@md'] {
    grid-template-columns: repeat(6, 1fr); }
  [tmo-layout~='2@md'] {
    grid-column: span 2/span 2; }
  [tmo-layout~='grid'][tmo-layout~='3@md'] {
    grid-template-columns: repeat(4, 1fr); }
  [tmo-layout~='3@md'] {
    grid-column: span 3/span 3; }
  [tmo-layout~='grid'][tmo-layout~='4@md'] {
    grid-template-columns: repeat(3, 1fr); }
  [tmo-layout~='4@md'] {
    grid-column: span 4/span 4; }
  [tmo-layout~='grid'][tmo-layout~='5@md'] {
    grid-template-columns: repeat(2.4, 1fr); }
  [tmo-layout~='5@md'] {
    grid-column: span 5/span 5; }
  [tmo-layout~='grid'][tmo-layout~='6@md'] {
    grid-template-columns: repeat(2, 1fr); }
  [tmo-layout~='6@md'] {
    grid-column: span 6/span 6; }
  [tmo-layout~='grid'][tmo-layout~='7@md'] {
    grid-template-columns: repeat(1.71429, 1fr); }
  [tmo-layout~='7@md'] {
    grid-column: span 7/span 7; }
  [tmo-layout~='grid'][tmo-layout~='8@md'] {
    grid-template-columns: repeat(1.5, 1fr); }
  [tmo-layout~='8@md'] {
    grid-column: span 8/span 8; }
  [tmo-layout~='grid'][tmo-layout~='9@md'] {
    grid-template-columns: repeat(1.33333, 1fr); }
  [tmo-layout~='9@md'] {
    grid-column: span 9/span 9; }
  [tmo-layout~='grid'][tmo-layout~='10@md'] {
    grid-template-columns: repeat(1.2, 1fr); }
  [tmo-layout~='10@md'] {
    grid-column: span 10/span 10; }
  [tmo-layout~='grid'][tmo-layout~='11@md'] {
    grid-template-columns: repeat(1.09091, 1fr); }
  [tmo-layout~='11@md'] {
    grid-column: span 11/span 11; }
  [tmo-layout~='grid'][tmo-layout~='12@md'] {
    grid-template-columns: repeat(1, 1fr); }
  [tmo-layout~='12@md'] {
    grid-column: span 12/span 12; }
  [tmo-layout~='offset-1@md'] {
    grid-column-start: 1; }
  [tmo-layout~='offset-2@md'] {
    grid-column-start: 2; }
  [tmo-layout~='offset-3@md'] {
    grid-column-start: 3; }
  [tmo-layout~='offset-4@md'] {
    grid-column-start: 4; }
  [tmo-layout~='offset-5@md'] {
    grid-column-start: 5; }
  [tmo-layout~='offset-6@md'] {
    grid-column-start: 6; }
  [tmo-layout~='offset-7@md'] {
    grid-column-start: 7; }
  [tmo-layout~='offset-8@md'] {
    grid-column-start: 8; }
  [tmo-layout~='offset-9@md'] {
    grid-column-start: 9; }
  [tmo-layout~='offset-10@md'] {
    grid-column-start: 10; }
  [tmo-layout~='offset-11@md'] {
    grid-column-start: 11; }
  [tmo-layout~='offset-12@md'] {
    grid-column-start: 12; }
  [tmo-layout~='hide@md'] {
    display: none !important; }
  [tmo-layout~='show@md'] {
    display: initial !important; }
  [tmo-layout~='first@md'] {
    order: -1; }
  [tmo-layout~='last@md'] {
    order: 12; } }

@media (min-width: 992px) {
  [tmo-layout~='grid'][tmo-layout~='1@lg'] {
    grid-template-columns: repeat(12, 1fr); }
  [tmo-layout~='1@lg'] {
    grid-column: span 1/span 1; }
  [tmo-layout~='grid'][tmo-layout~='2@lg'] {
    grid-template-columns: repeat(6, 1fr); }
  [tmo-layout~='2@lg'] {
    grid-column: span 2/span 2; }
  [tmo-layout~='grid'][tmo-layout~='3@lg'] {
    grid-template-columns: repeat(4, 1fr); }
  [tmo-layout~='3@lg'] {
    grid-column: span 3/span 3; }
  [tmo-layout~='grid'][tmo-layout~='4@lg'] {
    grid-template-columns: repeat(3, 1fr); }
  [tmo-layout~='4@lg'] {
    grid-column: span 4/span 4; }
  [tmo-layout~='grid'][tmo-layout~='5@lg'] {
    grid-template-columns: repeat(2.4, 1fr); }
  [tmo-layout~='5@lg'] {
    grid-column: span 5/span 5; }
  [tmo-layout~='grid'][tmo-layout~='6@lg'] {
    grid-template-columns: repeat(2, 1fr); }
  [tmo-layout~='6@lg'] {
    grid-column: span 6/span 6; }
  [tmo-layout~='grid'][tmo-layout~='7@lg'] {
    grid-template-columns: repeat(1.71429, 1fr); }
  [tmo-layout~='7@lg'] {
    grid-column: span 7/span 7; }
  [tmo-layout~='grid'][tmo-layout~='8@lg'] {
    grid-template-columns: repeat(1.5, 1fr); }
  [tmo-layout~='8@lg'] {
    grid-column: span 8/span 8; }
  [tmo-layout~='grid'][tmo-layout~='9@lg'] {
    grid-template-columns: repeat(1.33333, 1fr); }
  [tmo-layout~='9@lg'] {
    grid-column: span 9/span 9; }
  [tmo-layout~='grid'][tmo-layout~='10@lg'] {
    grid-template-columns: repeat(1.2, 1fr); }
  [tmo-layout~='10@lg'] {
    grid-column: span 10/span 10; }
  [tmo-layout~='grid'][tmo-layout~='11@lg'] {
    grid-template-columns: repeat(1.09091, 1fr); }
  [tmo-layout~='11@lg'] {
    grid-column: span 11/span 11; }
  [tmo-layout~='grid'][tmo-layout~='12@lg'] {
    grid-template-columns: repeat(1, 1fr); }
  [tmo-layout~='12@lg'] {
    grid-column: span 12/span 12; }
  [tmo-layout~='offset-1@lg'] {
    grid-column-start: 1; }
  [tmo-layout~='offset-2@lg'] {
    grid-column-start: 2; }
  [tmo-layout~='offset-3@lg'] {
    grid-column-start: 3; }
  [tmo-layout~='offset-4@lg'] {
    grid-column-start: 4; }
  [tmo-layout~='offset-5@lg'] {
    grid-column-start: 5; }
  [tmo-layout~='offset-6@lg'] {
    grid-column-start: 6; }
  [tmo-layout~='offset-7@lg'] {
    grid-column-start: 7; }
  [tmo-layout~='offset-8@lg'] {
    grid-column-start: 8; }
  [tmo-layout~='offset-9@lg'] {
    grid-column-start: 9; }
  [tmo-layout~='offset-10@lg'] {
    grid-column-start: 10; }
  [tmo-layout~='offset-11@lg'] {
    grid-column-start: 11; }
  [tmo-layout~='offset-12@lg'] {
    grid-column-start: 12; }
  [tmo-layout~='hide@lg'] {
    display: none !important; }
  [tmo-layout~='show@lg'] {
    display: initial !important; }
  [tmo-layout~='first@lg'] {
    order: -1; }
  [tmo-layout~='last@lg'] {
    order: 12; } }

@media (min-width: 1200px) {
  [tmo-layout~='grid'][tmo-layout~='1@xl'] {
    grid-template-columns: repeat(12, 1fr); }
  [tmo-layout~='1@xl'] {
    grid-column: span 1/span 1; }
  [tmo-layout~='grid'][tmo-layout~='2@xl'] {
    grid-template-columns: repeat(6, 1fr); }
  [tmo-layout~='2@xl'] {
    grid-column: span 2/span 2; }
  [tmo-layout~='grid'][tmo-layout~='3@xl'] {
    grid-template-columns: repeat(4, 1fr); }
  [tmo-layout~='3@xl'] {
    grid-column: span 3/span 3; }
  [tmo-layout~='grid'][tmo-layout~='4@xl'] {
    grid-template-columns: repeat(3, 1fr); }
  [tmo-layout~='4@xl'] {
    grid-column: span 4/span 4; }
  [tmo-layout~='grid'][tmo-layout~='5@xl'] {
    grid-template-columns: repeat(2.4, 1fr); }
  [tmo-layout~='5@xl'] {
    grid-column: span 5/span 5; }
  [tmo-layout~='grid'][tmo-layout~='6@xl'] {
    grid-template-columns: repeat(2, 1fr); }
  [tmo-layout~='6@xl'] {
    grid-column: span 6/span 6; }
  [tmo-layout~='grid'][tmo-layout~='7@xl'] {
    grid-template-columns: repeat(1.71429, 1fr); }
  [tmo-layout~='7@xl'] {
    grid-column: span 7/span 7; }
  [tmo-layout~='grid'][tmo-layout~='8@xl'] {
    grid-template-columns: repeat(1.5, 1fr); }
  [tmo-layout~='8@xl'] {
    grid-column: span 8/span 8; }
  [tmo-layout~='grid'][tmo-layout~='9@xl'] {
    grid-template-columns: repeat(1.33333, 1fr); }
  [tmo-layout~='9@xl'] {
    grid-column: span 9/span 9; }
  [tmo-layout~='grid'][tmo-layout~='10@xl'] {
    grid-template-columns: repeat(1.2, 1fr); }
  [tmo-layout~='10@xl'] {
    grid-column: span 10/span 10; }
  [tmo-layout~='grid'][tmo-layout~='11@xl'] {
    grid-template-columns: repeat(1.09091, 1fr); }
  [tmo-layout~='11@xl'] {
    grid-column: span 11/span 11; }
  [tmo-layout~='grid'][tmo-layout~='12@xl'] {
    grid-template-columns: repeat(1, 1fr); }
  [tmo-layout~='12@xl'] {
    grid-column: span 12/span 12; }
  [tmo-layout~='offset-1@xl'] {
    grid-column-start: 1; }
  [tmo-layout~='offset-2@xl'] {
    grid-column-start: 2; }
  [tmo-layout~='offset-3@xl'] {
    grid-column-start: 3; }
  [tmo-layout~='offset-4@xl'] {
    grid-column-start: 4; }
  [tmo-layout~='offset-5@xl'] {
    grid-column-start: 5; }
  [tmo-layout~='offset-6@xl'] {
    grid-column-start: 6; }
  [tmo-layout~='offset-7@xl'] {
    grid-column-start: 7; }
  [tmo-layout~='offset-8@xl'] {
    grid-column-start: 8; }
  [tmo-layout~='offset-9@xl'] {
    grid-column-start: 9; }
  [tmo-layout~='offset-10@xl'] {
    grid-column-start: 10; }
  [tmo-layout~='offset-11@xl'] {
    grid-column-start: 11; }
  [tmo-layout~='offset-12@xl'] {
    grid-column-start: 12; }
  [tmo-layout~='hide@xl'] {
    display: none !important; }
  [tmo-layout~='show@xl'] {
    display: initial !important; }
  [tmo-layout~='first@xl'] {
    order: -1; }
  [tmo-layout~='last@xl'] {
    order: 12; } }
